export APP_ROOT=$(pwd)
set-window-title $(basename $APP_ROOT)

export DOCKER_WRAPPER_SERVER_HOSTNAME=getto-labo-ide
export DOCKER_WRAPPER_RC=$APP_ROOT/.docker-wrapper.sh

export TLS_CERT="$HOME/.letsencrypt/live/$USER.dev.getto.systems/fullchain.pem"
export TLS_KEY="$HOME/.letsencrypt/live/$USER.dev.getto.systems/privkey.pem"
